@import "tailwindcss";

/* ===== Custom Scrollbar (Global) ===== */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background-color: #c09578; /* same brown tone */
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #a97c5f;
}

